<div class="center jumbotron">
  <h2>TRON - Brandeis Men's Ultimate</h2>

  <h3>Welcome to the Official Site of Brandeis' Men's Ultimate Team!</h3>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="active item">
        <%= link_to image_tag("image_1.jpg", :alt => "rss feed") %>
      </div>

      <div class="item">
        <%= link_to image_tag("image_2.jpg", :alt => "rss feed") %>
      </div>

      <div class="item">
        <%= image_tag("image_3.jpg", :alt => "rss feed") %>
      </div>

      <div class="item">
        <%= image_tag("image_4.jpg", :alt => "rss feed") %>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<div class="col-md-10 col-md-offset-1">
  <h4>
    TRON has two primary goals: to be a cohesive, fun social outlet that fosters a team atmosphere for all while developing a competitive,
    intense environment for those who seek it.
  </h4>
  <h4>
    We welcome all skill levels and strive to improve in every aspect of the game. We try to instill a love for the sport within each member, with the hope that this will grow into dedication to teammates and determination to be the best on and off the field. It is our ultimate goal to develop a team of national caliber that will compete at the highest possible level.
  </h4>
  <h4>
    If you are a Brandeis University student and are interested in joining TRON, feel free to stop by a practice or email a captain. For more info, please visit the "Join Us" section!
  </h4>
</div>

<script>
$(function(){
$('#this-carousel-id').carousel();
});
</script>
