<div class="center jumbotron">
  <h1>TRON - Brandeis Men's Ultimate</h1>

  <h2>
    Welcome to the Official Site of Brandeis' Men's Ultimate Team!
  </h2>

  <h4>
    TRON has two primary goals: to be a cohesive, fun social outlet that fosters a team atmosphere for all while developing a competitive,
     intense environment for those who seek it.
   </h4>
   <h4>
     We welcome all skill levels and strive to improve in every aspect of the game. We try to instill a love for the sport within each member, with the hope that this will grow into dedication to teammates and determination to be the best on and off the field. It is our ultimate goal to develop a team of national caliber that will compete at the highest possible level.
   </h4>
   <h4>
     If you are a Brandeis University student and are interested in joining TRON, feel free to stop by a practice or email a captain. For more info, please visit the "Join Us" section!
   </h4>

</div>
