<h1>Join us!</h1>
<h4>If you would like to join TRON, feel free to email/talk to a captain, administrator or anyone on the team, or feel free to stop by a practice! </h4>
<h2> Currently we practice: </h2>
<ul>
  <li>Monday-4:15-6:30, Club Field</li>
  <li>Wednesday- 4:15-6:30, Club Field</li>
  <li>Sunday- 12:00-2:00, Club Field</li>
</ul>

<h3>Captains' Emails:</h3>
<ul>
  <li>Hansen "Havok" Yang: batman33@brandeis.edu</li>
  <li>Max "Mojo" Zaslove: mzaslove@brandeis.edu</li>
  <li>Elan "Toast" Kane: elankane@brandeis.edu</li>
  <li>Mike "Ditto" Humbert: mhumbert@brandeis.edu</li>
</ul>
